@media screen and (max-width: 767px) {
  table tr td img {
    width: 70px;
    height: 70px;

  }

  .main {
    padding-right: 0px !important;
  }

  .c .navbar-expand-lg .navbar-nav .nav-link:hover {
    border-bottom: none !important;
  }

  .navbar-light .navbar-brand {
    margin-left: 0px !important;
  }

  ul {
    margin-left: 0px !important;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 0rem !important;
  }
}

table {
  margin-left: 0 !important;
}

.heading {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-size: 1em;
  color: #494e52;
  font-size: 18px;
  margin-top: 10px;

}

.links li a {
  color: #494e52;
  font-size: 13.5px;
  margin-left: -5px;
  font-family:
    -apple-system,
    ".SFNSText-Regular",
    "San Francisco",
    "Roboto",
    "Segoe UI",
    "Helvetica Neue",
    "Lucida Grande",
    Arial,
    sans-serif;
}

.p1 {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

.sticky-section {
  position: sticky;
  top: 10px;
}

.menu {
  float: right;
}

.navbar {
  border-bottom: 1px solid #f2f3f3;
  padding: 20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-left: 2.5rem;
  font-size: 18px;
  border-bottom: 3px solid transparent;
}

.navbar-light .navbar-brand {
  margin-left: 80px;
  font-size: 18px;
  border-bottom: 3px solid transparent;
}

.navbar-light .navbar-brand:hover {
  border-color: gray !important;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-color: gray;
  color: black !important;
}

a.link {
  color: #2d2d2d;
  text-decoration: underline;
}

a.link:hover {
  color: #b97a30 !important;
}

.main {
  padding-right: 100px;
}